*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: #007185;
}


/* 1-----------Nav-Bar----------- */

.nav-bar{
    height: 60px;
    background-color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 2px;
}

/* -----------Box-1----------- */
.nav-logo{
    height: 50px;
    width: 113px;
}
.logo{
    height: 50px;
    width: 100%;
    background-image: url(logo.png);
    background-size: cover;
}

/* -----------Box-2----------- */
.nav-location{
    height: 50px;
    width: 90.64px;
    align-content: center;
}
.txt-top{
    font-size: 12px;
    color: #cccccc;
    margin-left: 15px;
}
.loc-icon{
    display: flex;
    align-items: center;
}
.txt-bottom{
    color: white;
    font-size: 14px;
}

/* -----------Box-3----------- */
.nav-search{
    height: 40px;
    width: 898.71px;
    display: flex;
    background-color:#febd69;
    border-radius: 5px;
    justify-content: space-evenly;
}
.search-select{
    background-color: #e6e6e6;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 51.6px;
    padding: 0px 0px 0px 5px;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.nav-search:hover{
    border: 2px solid orange;
}

/* -----------Box-4----------- */
.nav-lang{
    width: 73.38px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lang-select{
    width: 73.38px;
    height: 50px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: transparent;
    text-align: center;
}
.lang-select:active{
    border: none;
}

/* -----------Box-5----------- */
.nav-signin{
    height: 50px;
    width: 131.53px;
    color: white;
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
}
.sign-top{
    font-size: 12px;
}
.sign-bottom{
    font-size: 14px;
    font-weight: 600;
}

/* -----------Box-6----------- */
.nav-order{
    height: 50px;
    width: 76.95px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-top{
    font-size: 12px;
}
.order-bottom{
    font-size: 14px;
    font-weight: 600;
}

/* -----------Box-6----------- */
.nav-cart{
    height: 50px;
    width: 84px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-cart i{
    font-size: 30px;
}

/* 2-----------Pannel----------- */

.pannel{
    height: 39px;
    background-color: #232f3e;
    font-weight: 400;
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

/* -----------Pannel-1----------- */
.pannel-menu{
    height: 38px;
    width: 58.41px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pannel-menu i{
    font-size: large;
    margin-right: 4px;
}

/* -----------Pannel-2----------- */
.pannel-deals{
    height: 38px;
    width: 102.81px;
    text-align: center;
    align-content: center;
}

/* -----------Pannel-3----------- */
.pannel-customer-serv{
    height: 38px;
    width: 128.34px;
    text-align: center;
    align-content: center;
}

/* -----------Pannel-4----------- */
.pannel-registry{
    height: 38px;
    width: 69.79px;
    text-align: center;
    align-content: center;
}

/* -----------Pannel-5----------- */
.pannel-giftcard{
    height: 38px;
    width: 80.99px;
    text-align: center;
    align-content: center;
}

/* -----------Pannel-6----------- */
.pannel-sell{
    height: 38px;
    width: 41.38px;
    text-align: center;
    align-content: center;
}

/* 3-----------slider----------- */
.slider{
    background-image: url(slider.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}
.slider-msg{
    color: #0f1111;
    background-color: white;
    font-size: 14px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 20px 20px;
}




.layout{
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: linear-gradient(to bottom, #f7dfdc 0%, #e3e6e6 100%);
    align-content: space-around;
}
.box{
    height: 420px;
    width: 349.8px;
    background-color: white;
}
.landscape{
    height: 281.5px;
    width: 1479.2px;
    background-color: white;
    display: flex;
}
.box-content{
    margin: 20px;
    align-content: space-around;
}
.box-content h2{
    color: #0f1111;
}
.img{
    height: 304px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px
}
.landscape img{
    margin: 2px;
    justify-content: center;
}









/* ..........footer.......... */

.foot-top{
    height: 49px;
    color: white;
    background-color: #37475a;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: center;
    font-size: 13px;
    font-weight: 300;
}
.foot-pannel{
    display: flex;
    align-items: flex-start;
    background-color: #232f3e;
    color: white;
    height: 500px;
    justify-content: space-evenly;

}

.ul{
    margin-top: 25px;
}
.ul a{
    display: block;
    justify-content: center;
    color: #dddddd;
    font-size: 14px;
    margin-top: 10px;
}
.ul p{
    font-size: 16px;
    font-weight: 700;
}

.foot-pannel2{
    background-color: #232f3e;
    height: 100px;
    width: 100%;
    border-top: 0.5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-pannel3{
    background-color: #131a22;
    color: white;
    height: 150px;
    text-align: center;
    font-size: 12px;
    align-content: center;

}
.p3-links a{
    margin: 10px;
    color: #dddddd;